# dependencies
node_modules/
.pnpm-store/

# builds
.next/
out/
dist/
build/
.turbo/

# env
.env
.env.local
.env.*.local

# prisma
packages/db/prisma/migrations/dev.db*

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# os / editor
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea/

# misc
*.tsbuildinfo
coverage/
